
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(https://fonts.googleapis.com/css?family=Beth+Ellen&effect=3d-float);

.wrapper {
    max-width: 1800px;
}

header {
    font-family: 'Beth Ellen', sans-serif;
}

h1 {
    text-align: right;
    font-size: 50px;
}

h3 {
    padding-left: 15px;
}

body {
    font-family: 'Architects Daughter', sans-serif;
    line-height: 1.25;
    text-align: justify;
}

figure {
    padding-bottom: 15px;
}

p {
    font-size: large;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}

ol {
    font-size: large;
    padding-right: 350px;
    padding-bottom: 15px;
}

.container {
    height: 80px;
    background-color: #336600;
}
/* Alternate background color - #ffc299 */

/* Continue working on positioning! 
.line {
    display: block;
    width: 225px;
    height: 4px;
    margin-right: -50%;
    background-image: radial-gradient(#336600,#ffffff);
}
*/

.ice-cube {
    float: right;
}

.excited {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.boldWords {
    font-weight: bold;
}

#opening-pic {
    float: left;
}

#list-lead-in {
    padding-right: 350px;
}

#so-excited {
    font-size: xx-large;
    margin-bottom: 0px;
}

#really-excited {
    font-size: x-large;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 75px;
    padding-bottom: 0px;
}

#really-really-excited {
    font-size: xx-large;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 125px;
}

#endText {
    font-family: 'Beth Ellen', sans-serif;
    font-size: x-large;
}